<launch>
  <node name="wall_finder" pkg="ohm_exploration" type="wall-finder">
    <param name="topic_map"       type="string" value="/map"                           />
    <param name="topic_markers"   type="string" value="exploration/wall_markers"       />
    <param name="service_trigger" type="string" value="exploration/wall_finder/trigger"/>
  </node>
</launch>
