<?xml version="1.0"?>
<launch>
   <node name="ohm_path_control_node" pkg="ohm_path_control" type="ohm_path_control_node">
      <param name="pub_name_cmd_vel"         type="string" value="vel/teleop" />
      <param name="pub_name_state"           type="string" value="path_control/state" />
      <param name="pub_name_state_full"      type="string" value="path_control/state_full" />
      <param name="sub_name_path"            type="string" value="path_control/path" />
      <param name="sub_name_em_stop"         type="string" value="path_control/emergency_stop" />
      <param name="sub_name_pause"           type="string" value="path_control/pause" />
      <param name="srv_name_ser_doendroate"  type="string" value="path_control/do_end_rotation" />
      <param name="config_file_controller"   type="string" value="/home/m1ch1/workspace/ros/ohm_autonomy/src/ohm_path_control/config/controller.xml"/>
      <param name="config_file_analyser"     type="string" value="/home/m1ch1/workspace/ros/ohm_autonomy/src/ohm_path_control/config/analyser.xml"/>
      <param name="tf_map_frame"             type="string" value="map" />
      <param name="tf_robot_frame"           type="string" value="base_footprint" />
   </node>
</launch>