<launch>
  <node name="wall_finder" pkg="ohm_exploration" type="wall-finder" output="screen">
    <param name="service_trigger" type="string" value="wall_finder/trigger"/>

    <remap from="map"                      to="map"         />
    <remap from="exploration/wall_markers" to="wall_markers"/>
    <remap from="exploration/walls"        to="walls"       />
  </node>
</launch>
